/* Importações */
@import "variables";

/* Padrões */
body {/* Remoção da Margem Padrão */
    margin: 0px;
}
* {/* Regra Box-sizing Padrão */
    box-sizing: border-box;
}

/* Declarações */
body {
    height: 100vh;
    display: flex;

    & * {
        transition: width, height, 0.2s;
    }
    aside {
        width: calc($max-Width-normalPc / 24 * 0.8);
        padding: $asidePadding;

        nav {
            height: calc(100vh - ($asidePadding * 2));
            display: flex;
            flex-direction: column;

            & > div.asideSpaceButton {
                height: 100%;

            }
        }
    }
    main {
        width: 100%;

        header {
            height: calc($max-Width-normalPc / 24 * 0.8);
            width: 100%;
            font: 'Ubuntu', sans-serif;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
        section:first-of-type {
            border-radius: 0.4em 0em 0em;
            height: calc($max-Width-normalPc / 24 * 99.2);
        }
        footer {

        }
    }
}