/* Importações */
@import "variables";

::selection {/* Seleção do Texto */
    background: $bgPrimaryColor;
    color: $txtSecondaryColor;
}

body {
    background: $bgTertiaryColor;
    color: $txtTertiaryColor;

    aside {
        background: $bgTertiaryColor;
    }
    main {
        header {
            background: $bgTertiaryColor;
            color: $txtSecondaryColor;
        }
        section:first-of-type {
            background: $bgSecondaryColor;
        }
        footer {
            background: $bgPrimaryColor;
            color: $txtPrimaryColor;
        }
    }
}
