/* Importações */
@import "variables";

::selection {
    /* Seleção do Texto */
    background: $bgPrimaryColor;
    color: $txtSecondaryColor;
}
* {
    scrollbar-color: $bgTertiaryColor $bgQuaternaryColor;
}
*:hover {
    scrollbar-color: $bgPrimaryColor $bgQuaternaryColor;
}

body {
    color: $txtTertiaryColor;

    aside {
        background: $bgTertiaryColor;

        nav {
            & hr.asdHr {
                border: 1px solid $h-bgRevertColor;
            }
            div.asdButtonSpace {
                & > div.asdButtonMenu {
                    background: $bgQuaternaryColor;
                    box-shadow: 0px 0px 10px #0003;
                }
            }
        }
    }
    main {
        header {
            background: $bgTertiaryColor;
            color: $txtSecondaryColor;
        }
        section:first-of-type {
            article {
                & > section.playlist {
                    & > div > div.pl-desc {
                        background: $bgSecondaryColor;
                        div.pl-header {
                            div.pl-img {
                                & > a > img {
                                    box-shadow: 0px 0px 10px #0005;
                                }
                            }
                            div.pl-tags {
                                & > a > div {
                                    background: $bgQuaternaryColor;
                                    box-shadow: 0px 0px 10px #0003;
                                    &:hover {
                                        background: $h-bgQuaternaryColor;
                                    }
                                    &:active {
                                        background: $a-bgQuaternaryColor;
                                    }
                                }
                            }
                        }
                    }
                    div.pl-info {
                        background: $bgTertiaryColor;
                    }
                }
            }
            div.radiusOne {
                background: $bgTertiaryColor;
            }
        }
        footer {
            background: $bgQuaternaryColor;
            color: $txtSecondaryColor;
        }
    }
}
body#init {
    article {
        background: $bgSecondaryColor;
    }
}